.item {
    display: flex;
    border: 2px solid;
    border-radius: 50%;
    width: 200px;
    justify-content: space-around;
    align-items: center;
  }

  .statuson {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
  }
  
  .statusoff {
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
  }

  .name {
    margin-left: 10px;
  }